<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Podes contactarnos mediante nuestras redes sociales o dejando tu consulta completando el formulario que se encuentra en la página web">
    <meta name="keywords" content="centro estetica, masajes, manicuria, pedicuria, depilacion, reflexologia, cosmetologia">    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Links CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/wickedcss.min.css">
    <!-- Links tipografias -->
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <title>Estética Integral- Contacto</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row"> <!-- inicio 1ra fila -->
          <div class="col-md-6 col-xs-12">
              <div class="fadeIn">
              <h1 class="tituloPrinc">Estética Integral</h1>
              </div>
          </div>
          <div class="col-md-6 col-xs-12">
              <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./productos.html">Productos</a>
                  </li><li class="nav-item">
                      <a class="nav-link" href="./novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="./contacto.html">Contacto</a>
                    </li>
              </ul>
          </div>
      </div> <!-- final 1ra fila -->
      <div class="row"> <!-- inicio 2da fila -->
        <div class="col-md-12 col-xs-12">
          <div class="slideDown">
          <h2 class="tituloView">Contacto</h2>
          </div>
        </div>
      </div> <!-- final 2da fila -->
      <form>     
        <div class="row"> <!-- inicio 3ra fila -->
          <div class="col-sm-6">
            <div class="inputBox ">
              <div class="inputText">Nombre</div>
              <input type="text" name="" class="input" required>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="inputBox">
              <div class="inputText">Apellido</div>
              <input type="text" name="" class="input">
            </div>
          </div>
        </div> <!-- final 3ra fila -->

        <div class="row"> <!-- inicio 4ta fila -->
          <div class="col-sm-12">
            <div class="inputBox">
              <div class="inputText">Correo Electrónico</div>
              <input type="text" name="" class="input" required>
            </div>
          </div>
        </div> <!-- final 4ta fila -->

        <div class="row"> <!-- inicio 5ta fila -->
          <div class="col-sm-12">
            <div class="inputBox">
              <div class="inputText">Consulta</div>
              <textarea class="input"></textarea>
            </div>
          </div>
        </div> <!-- final 5ta fila -->

        <div class="row"> <!-- inicio 6ta fila -->
          <div class="col-sm-12">
            <input type="submit" name="" class="button" value="Enviar Mensaje!">
          </div>
        </div> <!-- final 6ta fila-->
        <div class="row"> <!-- inicio 7ma fila -->
          <div class="col-md-12 col-xs-12">
              <footer>
                  <hr>
                  <h3 class="footer1">Estética Integral</h3>
                  <p class="footer2">Copyright &#169; 2020. Todos los derechos reservados</p>
                  <p class="footer2">--[Dirección Correo Postal]--</p>
                  <p class="footer2">--[Teléfono]--</p>
                  <h3 class="footer3">Seguinos en nuestras redes!</h3>                   
                  <a href="http://www.instagram.com" target="_blank">
                  <img class="instagram" src="../img/instaLogo.png" alt="instagram"></a>
                  <a href="http://www.facebook.com" target="_blank">
                  <img class="facebook" src="../img/faceLogo.png" alt="facebook"></a>
              </footer>
          </div>
      </div> <!-- final 7ma fila -->
    </form>
    </div> <!-- cierre div container -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	 <script type="text/javascript">
	 	$(".input").focus(function() {
	 		$(this).parent().addClass("focus");
	 	})
	 </script> 
  </body>
</html>