<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ofrecemos servicios personalizados con tratamientos no invasivos, utilizando las ultimas tecnologias y a cargo de profesionales de excelencia">
    <meta name="keywords" content="centro estetica, masajes, manicuria, pedicuria, depilacion, reflexologia, cosmetologia">     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Links CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/wickedcss.min.css">
    <!-- Links tipografias -->
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    
    <title>Estética Integral- Servicios</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row"> <!-- inicio 1ra fila -->
          <div class="col-md-6 col-xs-12">
              <div class="fadeIn">
              <h1 class="tituloPrinc">Estética Integral</h1>
              </div>
          </div>
          <div class="col-md-6 col-xs-12">
              <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./productos.html">Productos</a>
                  </li><li class="nav-item">
                      <a class="nav-link" href="./novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
              </ul>
          </div>
      </div> <!-- final 1ra fila -->
      <div class="row"> <!-- inicio 2da fila -->
        <div class="col-md-12 col-xs-12">
          <div class="slideDown">
          <h2 class="tituloView">Servicios</h2>
          </div>
        </div>
      </div> <!-- final 2da fila -->
      <div class="row"> <!-- inicio 3ra fila -->
        <div class="col-md-6 col-xs-12">
          <div class="imagenContainer">
          <img class="imagenServ" src="../img/cosmetology.jpg" alt="cosmetología">
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="fadeIn">
          <h3 class="hContainer">Cosmetología</h3>
          <p class="parrafo1">Tratamientos hidratantes, nutritivos, de limpieza profunda con extracciones y rejuvenecimiento facial con radiofrecuencia y electroporación.</p>
          </div>
        </div>
      </div> <!-- final 3ra fila -->
      <div class="row"> <!-- inicio 4ta fila -->
        <div class="col-md-6 col-xs-12">
          <div class="imagenContainer">
          <img class="imagenServ" src="../img/manicure.jpg" alt="manicuría">
        </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="fadeIn">
          <h3 class="hContainer">Manicuría</h3>
          <p class="parrafo1">Esmaltado común y semipermanente.</p>
          </div>
        </div>
      </div> <!-- final 4ta fila -->
      <div class="row"> <!-- inicio 5ta fila -->
        <div class="col-md-6 col-xs-12">
          <div class="imagenContainer">
          <img class="imagenServ" src="../img/pedicure.jpg" alt="pedicuría">
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="fadeIn">
          <h3 class="hContainer">Belleza de pies</h3>
          <p class="parrafo1">Tratamiento estético y esmaltado.</p>
          </div>
        </div>
      </div> <!-- final 5ta fila -->
      <div class="row"> <!-- inicio 6ta fila -->
        <div class="col-md-6 col-xs-12">
          <div class="imagenContainer">
          <img class="imagenServ" src="../img/masaje.jpg" alt="masajes">
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="fadeIn">
          <h3 class="hContainer">Masajes</h3>
          <p class="parrafo1">Masajes relajantes, descontracturantes, circulatorios y reductores, acompañados con aparatología como ultrasonido, radiofrecuencia, ondas rusas, ondas cuadradas y TENS.</p>
          </div>
        </div>
      </div> <!-- final 6ta fila -->
      <div class="row"> <!-- inicio 7ma fila -->
        <div class="col-md-6 col-xs-12">
          <div class="imagenContainer">
          <img class="imagenServ" src="../img/waxing.jpg" alt="depilación">
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="fadeIn">
          <h3 class="hContainer">Depilación</h3>
          <p class="parrafo1">Sistema español con cera de miel.</p>
          </div>
        </div>
      </div> <!-- final 7ma fila -->
      <div class="row"> <!-- inicio 8va fila -->
        <div class="col-md-12 col-xs-12">
            <footer>
                <hr>
                <h3 class="footer1">Estética Integral</h3>
                <p class="footer2">Copyright &#169; 2020. Todos los derechos reservados</p>
                <p class="footer2">[Dirección Correo Postal]</p>
                <p class="footer2">[Teléfono]</p>
                <h3 class="footer3">Seguinos en nuestras redes!</h3>                   
                <a href="http://www.instagram.com" target="_blank">
                <img class="instagram" src="../img/instaLogo.png" alt="instagram"></a>
                <a href="http://www.facebook.com" target="_blank">
                <img class="facebook" src="../img/faceLogo.png" alt="facebook"></a>
            </footer>
        </div>
      </div> <!-- final 8va fila -->
    </div> <!-- cierre div container -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>